@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
}

.main-image {
  /* The image used */
  background-image: url("./images/doggrooming-1280x853.jpg");
  background-size: cover;
  background-position: 100% 20%;
  height: 50vh;
}

.main-text {
  opacity: 0.8;
}

.dog-logo:hover {
  animation: 1s infinite shake;
}

@keyframes shake {
  0% {
    transform: rotate(-15deg);
  }

  25% {
    transform: rotate(-30deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
